/Helpers/ClassDumps/

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# PyCharm
.idea

# Sublime
*.sublime-project
*.sublime-workspace

# Xcode
*.o
*.lo
*.la
*.al
#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store
*~.nib
.xvpics
build
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcuserstate
xcuserdata
project.xcworkspace
.libs
*.so
*.so.[0-9]*
*.pyc
*.pyo
*.tmp
*.save
.*.swp
Pods
